@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        <h1>Valores obtidos do HomeController via ViewData</h1>
        
        <div>
            <ul>
                @foreach (string pais in ViewBag.Paises)
                {
                    <li>@pais</li>
                }
            </ul>
        </div>
    </div>
</body>
</html>
