@model ProjetoMvc.Models.Cliente

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Detalhes</title>
</head>
<body>
    <div>
        @using (Html.BeginForm("SalvarCliente", "Cliente"))
        {
            <br />
            <p>Código   : @Html.TextBoxFor(x => x.ClienteId, new { htmlAttributes = new { type = "number", @class = "form-control" } })</p>
            <p>Nome     : @Html.TextBoxFor(x => x.Nome)</p>
            <p>Email    : @Html.TextBoxFor(x => x.Email)</p>
            <p>Telefone : @Html.TextBoxFor(x => x.Telefone)</p>
            <p>
                <input type="submit" value="Enviar" />
            </p>
        }
    </div>
</body>
</html>
