@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
        <h2>Clique no link abaixo para ver detalhe do cliente</h2>
    <div>
        <p>
            @Html.ActionLink("Clique aqui para ver detalhes do cliente", "Detalhes")
        </p>
    </div>
</body>
</html>
