@model ProjetoMvc.Models.Cliente

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Detalhes</title>
</head>
<body>
    <div>
        <form action="" method="post">
            <fieldset>
                <legend>Cliente</legend>

                <div>
                    <label for="ClienteId">Id</label>
                </div>
                <div>
                    <input type="text" value="@Model.ClienteId" id="ClienteId" name="ClienteId" />
                </div>

                <div>
                    <label for="Nome">Nome</label>
                </div>
                <div>
                    <input type="text" value="@Model.Nome" id="Nome" name="Nome" />
                </div>

                <div>
                    <label for="Email">Email</label>
                </div>
                <div>
                    <input type="text" value="@Model.Email" id="Email" name="Email" />
                </div>

                <div>
                    <label for="Telefone">Telefone</label>
                </div>
                <div>
                    <input type="text" value="@Model.Telefone" id="Telefone" name="Telefone" />
                </div>

                <div>
                    <input type="submit" value="Enviar" />
                </div>

            </fieldset>
        </form>
    </div>
</body>
</html>
